@font-face {
    font-family: Varlera;
    src: url(assets/fonts/Varela-Regular.ttf);
}

/* Global Styles */

html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #232f3e;
    text-align: center;
    padding: 25px;
    font-size: 1.3em;
}

main {
    background-color: #f2f2f2;
}

footer {
    background-color: #f2f2f2;
}

h1 {
    color: white;   
    font-family: Varlera;
}

li {
    list-style-type: none;
}

/* Login Styles */

.loginDiv {
    border: solid;
    border-width: 3px;
    max-width: fit-content;
    margin: auto;  
    text-align: center;
}