@font-face {
    font-family: Varlera;
    src: url(assets/fonts/Varela-Regular.ttf);
}

/* Global Styles */

html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #232f3e;
    text-align: center;
    padding: 25px;
    font-size: 1.3em;
}

main {
    background-color: #f2f2f2;
}

footer {
    background-color: #f2f2f2;
}

h1 {
    color: white;   
    font-family: Varlera;
}

li {
    list-style-type: none;
    color: #f2f2f2;
    max-width: fit-content;
    display: inline-block;
    margin-right: 10px;
}

/* NavBar Styles */

li:hover .navBarAnchor:hover {
    color: black;
    background-color: #f2f2f2;
}

.navBarAnchor, .navBarAnchor:visited {
    text-decoration: none;
    color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
}

/* Login Styles */

.loginDiv {
    border: solid;
    border-width: 3px;
    max-width: fit-content;
    margin: auto;  
    margin-top: 150px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 10px;
}