<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>ToKa Fitness</h1>

        <nav class="navBar">
            <ul>
                <li class="navBarItem"> <a class="navBarAnchor" href="{{ url_for('about') }}">About</a> </li>
                <li class="navBarItem"> <a class="navBarAnchor" href="{{ url_for('articles') }}">Articles</a> </li>
                <li class="navBarItem"> <a class="navBarAnchor" href="{{ url_for('register') }}">Register</a> </li>
                <li class="navBarItem"> <a class="navBarAnchor" href="{{ url_for('login') }}">Login</a> </li>
            </ul>
        </nav>
    </header>

    <main>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas fuga quae, accusamus facere quos veritatis odio maxime! Id neque cupiditate aliquam perspiciatis laudantium dicta doloribus maiores, rerum, commodi natus quis!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas fuga quae, accusamus facere quos veritatis odio maxime! Id neque cupiditate aliquam perspiciatis laudantium dicta doloribus maiores, rerum, commodi natus quis!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas fuga quae, accusamus facere quos veritatis odio maxime! Id neque cupiditate aliquam perspiciatis laudantium dicta doloribus maiores, rerum, commodi natus quis!</p>
        <img src="static/assets/images/placeholder.png" alt="placeholder" height="300" id="img1">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas fuga quae, accusamus facere quos veritatis odio maxime! Id neque cupiditate aliquam perspiciatis laudantium dicta doloribus maiores, rerum, commodi natus quis!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas fuga quae, accusamus facere quos veritatis odio maxime! Id neque cupiditate aliquam perspiciatis laudantium dicta doloribus maiores, rerum, commodi natus quis!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas fuga quae, accusamus facere quos veritatis odio maxime! Id neque cupiditate aliquam perspiciatis laudantium dicta doloribus maiores, rerum, commodi natus quis!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas fuga quae, accusamus facere quos veritatis odio maxime! Id neque cupiditate aliquam perspiciatis laudantium dicta doloribus maiores, rerum, commodi natus quis!</p>
        <img src="static/assets/images/placeholder.png" alt="placeholder" height="300" id="img2"
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas fuga quae, accusamus facere quos veritatis odio maxime! Id neque cupiditate aliquam perspiciatis laudantium dicta doloribus maiores, rerum, commodi natus quis!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas fuga quae, accusamus facere quos veritatis odio maxime! Id neque cupiditate aliquam perspiciatis laudantium dicta doloribus maiores, rerum, commodi natus quis!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas fuga quae, accusamus facere quos veritatis odio maxime! Id neque cupiditate aliquam perspiciatis laudantium dicta doloribus maiores, rerum, commodi natus quis!</p>
    </main>

    <footer>
        <hr>
        <p class="footerText">placeholder footer text</p>
    </footer>
</body>
</html>