<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
</head>
<body>
    <div class="loginDiv">
        <h2 class="loginH2">Register</h2>
        <form action="{{ url_for('register') }}" method="post"> <br><br>
            <input type="text" name="username" placeholder="Username" required> <br><br>
            <input type="text" name="password" placeholder="Password" required> <br><br>
            <input type="text" name="confirmPassword" placeholder="Confirm Password" required> <br><br>
            <input type="email" name="email" placeholder="Example123@gmail.com" required> <br><br>

            <label for="membershipType">Membership Type</label> <br>
            <select name="membershipType" required>
                <option value="free">Free</option>
                <option value="premium">Premium</option>
            </select> <br><br>
            <button type="submit" id="registerButton">Register</button
        </form>
        <p>Already have an Account? 
            <a class="regLoginAnchor" href="{{url_for('login')}}">Log In</a>
        </p>
    </div>
<script src="{{ url_for('static', filename = 'login.js') }}"></script>
</body>
</html>             