<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="loginDiv">
        <h2 class="loginH2">Register</h2>
        <form action="{{ url_for('register') }}" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="password" placeholder="Password">
            <input type="text" name="confirmPassword" placeholder="Confirm password">
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>